<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/style.css" />
    <title>To Do List</title>
  </head>
  <body>
    <%if(message  != ""){ %>
      <section class="message message-<%= type%>">
        <p><%= message %></p>
        <span id="close-message"><i class="bi bi-x"></i></span>
      </section>
    <%}%>

    <header>
      <% if (task == null){ %>
      <h1>To Do List</h1>
      <form action="/create" method="post">
        <input type="text" name="task" id="task" placeholder="Send a task..." />
        <button type="submit" id="createButton">ADD</button>
      </form>
      <% } else { %>
      <h1>Edit Task</h1>
      <form action="/updateOne/<%= task._id %>" method="post">
        <input type="text" name="task" id="task" value="<%= task.task %>" />
        <button type="submit" id="updateButton">UPDATE</button>
      </form>
      <% } %>
    </header>

    <section id="tasks">
      <ul>
        <% tasksList.forEach((task) => { %>
          <li class="check-<%= task.check%>">
            <div>
              <a href="/check/<%= task.id %>" class="check-<%= task.check%>"><%= task.task %> </a>
              <span>Created in: <%= task.date.toLocaleDateString('pt-br') %></span>
              <% if(task.edited == true){ %>
              <small>Edited</small>
              <% }%>
            </div>
            <div>
              <a href="/getById/<%= task._id %>/update" class="btnUpdate"><i class="bi bi-pencil-square"></i></a>
              <a href="/getById/<%= task._id %>/delete" class="btnDelete"><i class="bi bi-trash"></i></a>
            </div>
          </li>
        <% }) %>
      </ul>
    </section>

    <% if(taskDelete != null){ %>
    <section id="modal">
      <div id="card">
        <div>
          <h2>Confirm action</h2>
          <a href="/home"><i class="bi bi-x"></i></a>
        </div>
        <hr />
        <h4>Do you wanna delete this task: <%= taskDelete.task %>?</h5>
        <div id="buttonsModal">
          <a href="/home" id="btnNot">No</a>
          <a href="/deleteOne/<%= taskDelete._id %>" id="btnYes">Yes</a>
        </div>
      </div>
    </section>
    <% } %>

    <script src="/script.js"></script>
  </body>
</html>
