<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/style.css" />
    <title>To Do List</title>
  </head>
  <body>
    <header>
      <% if (task == null){ %>
      <h1>To Do List</h1>
      <form action="/create" method="post">
        <input type="text" name="task" id="task" placeholder="Send a task..." />
        <button type="submit" id="createButton">ADD</button>
      </form>
      <% } else { %>
      <h1>Edit Task</h1>
      <form action="/updateOne/<%= task._id %>" method="post">
        <input type="text" name="task" id="task" value="<%= task.task %>" />
        <button type="submit" id="updateButton">Update</button>
      </form>
      <% } %>
    </header>

    <section id="tasks">
      <ul>
        <% tasksList.forEach((task) => { %>
          <li>
            <div>
              <a href="/home"><%= task.task %> </a>
              <span>Created in: <%= task.date.toLocaleDateString('pt-br') %></span>
              <% if(task.edited == true){ %>
              <small>Edited</small>
              <% }%>
            </div>
            <div>
              <a href="/getById/<%= task._id %>/update" class="btnUpdate"><i class="bi bi-pencil-square"></i></a>
              <a href="/getById/<%= task._id %>/delete" class="btnDelete"><i class="bi bi-trash"></i></a>
            </div>
          </li>
        <% }) %>
      </ul>
    </section>

    <% if(taskDelete != null){ %>
    <section id="modal">
      <div id="card">
        <a href="/home"><i class="bi bi-x"></i></a>
        <h2>Confirm action</h2>
        <hr />
        <p>Do you wanna delete this task: <%= taskDelete.task %>?</p>
        <a href="/home">No</a>
        <a href="/deleteOne/<%= taskDelete._id %>">Yes</a>
      </div>
    </section>
    <% } %>

    <script src="script.js"></script>
  </body>
</html>
