<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>To Do List</title>
  </head>
  <body>
    <header>
      <% if (task == null){ %>
      <form action="/create" method="post">
        <input type="text" name="task" id="task" placeholder="Send a task..." />
        <button type="submit">Add</button>
      </form>
      <% } else { %>
      <form action="/updateOne/<%= task._id %>" method="post">
        <input type="text" name="task" id="task" value="<%= task.task %>" />
        <button type="submit">Update</button>
      </form>
      <% } %>
    </header>

    <section id="tasks">
      <ul>
        <% tasksList.forEach((task) => { %>
        <li>
          <%= task.task %> | <%= task.date.toLocaleDateString('pt-br') %> <%
          if(task.edited == true){ %>
          <small>Edited</small>
          <% }%>
          <a href="/getById/<%= task._id %>/update">Update</a>
          <a href="/getById/<%= task._id %>/delete">Delete</a>
        </li>
        <% }) %>
      </ul>
    </section>

    <% if(taskDelete != null){ %>
    <section id="modal">
      <div id="card">
        <a href="/home">X</a>
        <h2>Confirm action</h2>
        <hr />
        <p>Do you wanna delete this task: <%= taskDelete.task %>?</p>
        <a href="/home">No</a>
        <a href="/deleteOne/<%= taskDelete._id %>">Yes</a>
      </div>
    </section>
    <% } %>

    <script src="script.js"></script>
  </body>
</html>
